@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');

section {
	align-items: center;
	justify-content: center;
	height: 80vh;
	width: 100%;
}

#coffeeMakingContainer {
	display: flex;
}

.coffee-making-pic-container {
	position: relative;
	width: 100%;
	/* height: 100%; */
}

.coffee-making-pic {
	width: 100%;
	height: 100%;
	filter: brightness(50%);
}

.model-pic {
	position: absolute;
	bottom: 5%;
	background-color: black;
	color: white;
	padding: 5px;
}

.model-pic h3 {
	font-weight: 400;
	text-align: center;
}

.model-pic a {
	text-decoration: none;
	color: #DFC222;
}

#aboutContainer {
	position: relative;
}


.sun {
	height: 40vh;
  	width: 40vh;
	background-color: #DFC222;
	border-radius: 50%;
	position: absolute;
	z-index: 2;
	top: 10%;
}

h1 {
	text-align: center;
	font-size: 38px;
	font-family: 'Inknut Antiqua', serif;
}

.gold-text {
	color: #DFC222;
	font-family: 'Inknut Antiqua', serif;
}

.gold {
	color: #DFC222;
}

.aladin {
	font-family: 'Aladin', cursive;
}

.bean {
	position: absolute;
	width: 3vw;
}

.bean img {
	width: 100%;
}

.about-part {
	display: flex;
	width: 100%;
	height: 100%;
}

.about-pic-container {
	width: 50%;
	align-items: center;
	justify-content: center;
	display: flex;
	margin: 10px 100px;
	z-index: 3;
}

.about-pic-container img, .story-img img, .smoke-img img, .beverage img, .event-pic-container img {
	width: 100%;
}

.text-part {
	width: 50%;
	margin-top: 150px;
	margin-right: 50px;
	font-size: 20px;
}

#storiesContainer {
	position: relative;
	height: auto;
}

.stories {
	display: flex;
	justify-content: center;
}

.story {
	width: 20vw;
	position: relative;
	margin: 20px 80px;
}

.story-img {
	width: 100%;
}

.story h3 {
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: 500;
}

.story p {
	margin-bottom: 40px;
}

.golden-button {
	background-color: transparent;
	border: 2px solid #DFC222;
	border-radius: 6px;
	color: #DFC222;
	height: 30px;
	font-size: 20px;
	transition: .3s;
}

.golden-button:hover {
	cursor: pointer;
	background-color: #DFC222;
	color: black;
}

.story button {
	width: 100px;
	position: absolute;
	right: 0;
}

.center-view-button {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.smoke-img {
	width: 70px;
}

.smoke-container {
	width: 200px;
	display: flex;
	justify-content: center;
}

.stories-button {
	width: 200px;
	margin-top: 5px;
}

#eventContainer {
	display: flex;
	position: relative;
}

.beverage {
	width: 30vh;
	position: absolute;
}

.event-part {
	display: flex;
	justify-content: center;
}

.text-part-event {
	font-size: 20px;
	margin: 20px 50px;
}

.text-part-event h4 {
	font-size: 32px;
	margin-bottom: 30px;
}

.text-part-event p {
	margin-bottom: 5px;
}

.labels {
	font-size: 20px;
}

.event-pic-container {
	width: 18%;
}

.details {
	margin: 50px 0;
	width: 130px;
	height: 35px;
}

@media screen and (max-width: 900px) {
	section,
	section:nth-child(even) {
		flex-direction: column;
	}

	section img {
		height: auto;
		width: auto;
		max-width: 100vw;
	}
}