@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Enriqueta:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

.header {
	width: 100%;
	position: sticky;
	z-index: 10;
	top: 0;
	padding: 1.2em 0;
	color: white;
	background-color: black;
	max-height: 5em;
	display: flex;
	align-items: center;
}

.center-logo {
	display: flex;
  	justify-content: center;
	width: 22%;
}

.logo {
	font-family: 'Eagle Lake', cursive;
	color: white;
	font-size: 38px;
}

nav {
	/* width: 100%; */
	top: 0;
	color: white;
	display: flex;
  	justify-content: center;
	align-items: center;
}

nav span {
	font-size: 22px;
	transition: 0.2s ease;
	margin: 1em 2em;
	font-family: 'Enriqueta', serif;
}

nav span:hover {
	cursor: pointer;
}

nav span:hover i {
	color: gold;
}

nav span.activeClass i {
	color: gold;
}

nav span.activeClass {
	border-bottom-color: var(--lightAccent);
}